@import "partials/footer";
@import "partials/underside";
@import "partials/createAccount";
@import "partials/variables";
@import "partials/contactUs";
@import "partials/header";




* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.food_part {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.food_part2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

}
.main_del_one_photo {
    width: 200px;
    position: relative;
}

.main_del_one_photo:hover{
    opacity: .6;
}

.main_del_one_p {
    position: absolute;
    margin-top: 200px;
    z-index: 1;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    padding: 10px;
    inline-size: 190px;
    color: rgb(12, 40, 8);
    border-radius: 20px 10px;

}
.main_del_one_p2 {
    position: absolute;
    margin-top: 200px;
    z-index: 1;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    padding: 10px;
    inline-size: 190px;
    color: rgb(12, 40, 8);
    border-radius: 20px 10px;
}


.main_part_two_photo {
    margin-top: 130px;
    width: 500px;
    margin-left: 20px;

}

.main_part_two_p {
    padding: 140px;
    font-size: 18px;
}

#video_home_page {
    margin: 100px;
    width: 80%;
}

#contact-box {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    background-color: #2ecc71;
    margin-top: 60px;
}
.right {
    display: grid;
    display: flex;
    flex-direction: column;
    background-color: #2ecc71;
}

.kontakth2 {
    position: relative;
    padding-bottom: 10px;
    text-align: center;
    margin: 3rem;
    margin-bottom: 10px;
}

.kontakth2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 4px;
    background-color: #2ecc71;
}

.field {
    width: 100%;
    padding: 1rem 1rem;
    outline: none;
    border: none;
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}