@charset "UTF-8";
.footer-container {
  min-height: 350px;
  width: 100%;
  font-size: 15px;
  margin-top: auto;
  background-color: #2ecc71;
}

.footer-wrapper {
  position: relative;
  min-height: 350px;
  min-width: 450px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-wrapper > * {
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-wrap: wrap;
  color: rgb(32, 5, 5);
  margin: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.footer-info {
  display: flex;
  flex-direction: row;
  gap: 200px;
  text-align: center;
}

.footer-länkar {
  margin: 10px;
  text-decoration: none;
  color: rgb(136, 58, 58);
  display: block;
}

.footer-länkar:hover {
  color: #2ecc71;
}

.h3-kontakt {
  margin-bottom: 10px;
}

.header {
  display: flex;
}

.food_photo {
  width: 500pxpx;
  height: 120vh;
}

.food_text {
  float: right;
  inline-size: 400px;
  padding: 60px;
  position: relative;
  margin-top: 30px;
}

.food_info {
  display: flex;
  float: right;
  inline-size: 380px;
  margin-top: 30px;
  padding-left: 190px;
}
.food_info p {
  padding: 20px;
  background-color: rgb(241, 210, 178);
}

#star {
  background-color: rgb(237, 211, 184);
  display: inline;
  padding: 3px;
}

.food_recept {
  display: flex;
}

.food_method h2 {
  margin: 10px 0px 40px 90px;
}

.food_method li {
  margin-left: 100px;
  border: 1px solid rgb(231, 222, 222);
  padding: 6px;
  background-color: rgb(242, 247, 247);
  list-style-type: circle;
}

#registerPage_photo {
  width: 50%;
  height: 100vh;
  margin: 50px 0px 0px 50px;
}

.register_text {
  float: right;
  inline-size: 400px;
  padding: 60px;
  position: relative;
  margin-top: 50px;
  padding-top: 1px;
}

.validation-form {
  background-color: #ffffff;
  padding: 10px 35px 1px 20px;
  border-radius: 0.5rem;
  border: 1px solid #d8d8d8;
}

.headline {
  text-align: center;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 1rem;
}

.input-group {
  margin-bottom: 1rem;
}

.input-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #d8d8d8;
}

.btn {
  padding: 0.8em 1.4em;
  border-radius: 0.5rem;
  border: 0;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.btn-block {
  width: 100%;
}

.btn-primary {
  background-color: hsl(113, 75%, 38%);
  color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: hsl(180, 25%, 30%);
}

.btn-primary:active {
  background-color: hsl(180, 25%, 20%);
}

.validation-feedback {
  margin-top: 1rem;
  text-align: center;
}

.input-group.success input {
  border-color: #66bb6a;
}

.input-group.error input {
  border-color: red;
}

.input-group.error {
  color: red;
}

#errorMessage {
  color: red;
}

.d-none {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

#baner {
  background: url(img/bg4.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hemSidan_h1 {
  text-align: center;
  color: rgb(88, 126, 88);
  padding-top: 150px;
  font-size: 110px;
  font-style: italic;
  text-shadow: 1px 1px 1px rgb(143, 225, 143);
}

.baner-btn {
  margin: 70px auto 0;
  display: flex;
  justify-content: center;
}

.baner-btn a {
  width: 150px;
  color: rgb(162, 19, 19);
  margin: 10px;
  background-color: rgb(21, 16, 7);
  padding: 15px;
  text-decoration: none;
  border: 0.5 solid rgb(13, 12, 11);
  background-color: rgb(143, 225, 143);
  font-size: 40px;
  padding-left: 50px;
}

#sideNav {
  display: flex;
  background-color: rgb(143, 225, 143);
  overflow: hidden;
  opacity: 0.9;
}
#sideNav li a {
  display: block;
  color: rgb(32, 17, 17);
  text-align: center;
  padding: 12px;
  text-decoration: none;
}
#sideNav li {
  list-style: none;
  padding: 5px;
  float: left;
  font-weight: bold;
}
#sideNav li:last-child {
  padding-left: 500px;
}

#logo {
  width: 30px;
  margin: 4px 20px 10px 20px;
  color: rgb(62, 54, 38);
  text-shadow: 1px rgb(27, 21, 9) 1px;
  font-weight: bold;
  font-style: italic;
}

.title-text p {
  margin: auto;
  font-size: 30px;
  color: black;
  font-weight: bold;
  text-align: center;
  background-color: #b8e1dd;
  margin-top: 500px;
}

/* Main */
.food_part {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.main_del_one_photo {
  width: 210px;
  border-radius: 160px;
  position: relative;
}

.main_del_one_p {
  position: absolute;
  margin-top: 210px;
  margin-left: 30px;
  z-index: 1;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  padding: 10px;
  inline-size: 190px;
  color: black;
  border-radius: 20px 10px;
}

.main_part_two_photo {
  margin-top: 100px;
  width: 500px;
  margin-left: 20px;
}

.main_part_two_p {
  padding: 140px;
  font-size: 18px;
}

#video_home_page {
  margin-left: 100px;
  width: 80%;
}

.form-container {
  margin-bottom: 100px;
  margin-top: 100px;
}

.contact-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  background-color: #2ecc71;
}

.right {
  display: grid;
  display: flex;
  flex-direction: column;
  padding-left: 400px;
  background-color: #2ecc71;
}

.kontakth2 {
  position: relative;
  padding-bottom: 10px;
  text-align: center;
  margin: 5rem;
}

.kontakth2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 4px;
  background-color: #2ecc71;
}

.field {
  width: 100%;
  padding: 1rem 1rem;
  outline: none;
  border: none;
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
  background-color: #fff;
  border: 2px solid rgba(30, 85, 250, 0.47);
}/*# sourceMappingURL=styles.css.map */