// @import "/front-end/partials/variables";


#footer {
    padding: 40px;
    // background-color: $secondColor;

}


.footer-row {
    display: flex;
    justify-content: left;
    font-size: larger;
}