
.header{
    display: flex;
    margin-top: 30px;
}
.food_photo{
 width: 500pxpx;
 height: 120vh;
}

.food_text{
    float: right; 
    inline-size: 400px;
    padding: 60px;
    position: relative;
    margin-top: 30px;

}

.food_info{
    display: flex;
    float: right;
    inline-size: 380px;
    margin-top: 30px;
    padding-left: 190px;

    p{
        padding: 20px;
        background-color: #ebe9e4;
    }
}

#star{
    background-color:#ebe9e4;
    display: inline;
    padding: 3px;

}

.food_recept{
    display: flex;
    margin-bottom:100px;
}

.food_method h2{
    margin: 10px 0px 40px 90px
}

.food_method li {
    margin-left: 100px;
    border: 1px solid rgb(231, 222, 222);
    padding: 6px;
    background-color: rgb(242, 247, 247);
    list-style-type: circle;
}

